<div>
  <app-navbar></app-navbar>
  <div class="d-flex">
    <div class="col-1">
      <p>PROJECT LIST</p>
    </div>
    <div class="d-flex input-group justify-content-end form-outline">
      <div class="d-flex">
        <input type="search" placeholder="Search Project" id="form1" class="form-control" #filter>
        <label class="form-label" for="form1"></label>
      </div>
      <button type="button" class="btn" (click)="filterResult(filter.value)">Search
      </button>
      <!-- <div>
        <input type="text" placeholder="Search Project" #filter>
        <button class="primary" type="button" (click)="(filter.value)">Search</button>
      </div> -->
    </div>
  </div>
  <div class="m-2 border border-secondary bg-secondary-subtle">
    <div class="d-flex border border-secondary justify-content-between" *ngFor="let project of listaProgetti">
      <div class="">{{project.name}}</div>
      <div>
        <button (click)="gotoProjectModify(project.id)">Modify</button>
        <button (click)="gotoProjectRead(project.id)">Read</button>
        <button (click)="openDialog('0ms', '0ms',project)">Delete</button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button (click)="gotoProjectCreate()">Create Project</button>
  </div>
</div>
