<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>
<div [formGroup]="form">
  <div>
    <h5>Project Name</h5>
    <div class="m-2 card">
      <div class="card-body">
        <input id="nameform" placeholder="{{project?.name}}" type="text" [formControlName]="'name'">
      </div>
    </div>
  </div>
  <div>
    <h5>Project description</h5>
    <div class="m-2 card">
      <div class="card-body">
        <textarea id="descriptionform" placeholder="{{project?.description}}" type="text"  [formControlName]="'description'"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end">
  <button (click)="save()">Save</button>
  <button (click)="gotoProjectList()">Cancel</button>
</div>
