<div>
  <header class="brand-name">
    <app-navbar></app-navbar>
  </header>
  <div class="d-flex justify-content-center">
    <div class="d-flex col-6">
      <div class="m-2 pippo border border-secondary rounded">
        <div>
          <p class="m-2 text-center text-body-emphasis text-uppercase">Lycaon Tracker</p>
        </div>
        <div>
          <p class="d-flex"></p>
          <p class="d-flex text-center">descrizione descrizione descrizione descrizione descrizione descrizione
            descrizione descrizione descrizione descrizione descrizione descrizione</p>
          <p class="d-flex"></p>
        </div>
      </div>
    </div>
  </div>
</div>
